*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --orange:#FF7A00;
    --black-background:#2F2F2F;
    ---green:#00B388;
    ---red:#EE5331;
    ---grey:#D4D4D4;
    ---grey-border:#737373;
    ---font-color-1:#34475E;
    ---font-color-2:#7A7C87;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    overflow-x: hidden;
    font-family: "Mulish", sans-serif;
    grid-template-areas: 
    "As hh hh"
    "As main main"
    "As main main";
    grid-template-columns: 235px 1fr 1fr;
    grid-template-rows: 8% 22% 70%;
}

.side-navs{
    grid-area: As;
    display: flex;
}

.first-column{
    background: #2F2F2F;
    height: 100vh;
    padding-top: 120px;
    position: fixed;
    width: 50px;

    li{
        list-style: none;
    }
    
    a{
        display: flex;
        text-decoration: none;
        color: #FF7A00;
        font-size: 25px;
        padding: 15px 10px;
    }
    a:hover{
        background: #ffff;
        transition: 0.7s;
    }
}

.second-column{
    left: 50px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
    padding-top: 40px;
    border-right: 1px solid #D4D4D4;
    background: #ffff;
    position: fixed;

    p{
        color: #34475E;
        font-weight: 700;
        letter-spacing: 1px;
    }

    a{
        text-decoration: none;
        color: #737373;
        padding: 5px;
        font-size: 12px;
        &:hover{
            color: #FF7A00;
        }
    }

    .fa-chart-simple{
        font-size: 20px; 
        padding: 8px;
        color: #737373;
        &:hover{
            color: #FF7A00;
        }
    }
    .fa-table{
        font-size: 20px; 
        padding: 8px;
        
    }
    .requests{
        color: #FF7A00;
    }
}

.top-nav{
    grid-area: hh;
    padding: 10px;
    position: fixed;
    z-index: 10;
    width: 83.5%;
    left: 17.6%;
    background: #ffff;
    border-bottom: 1px solid #D4D4D4;
}
    .nav-links-2{
        display: flex;
        gap: 20px;
        justify-content: end;
    }

    a, li{
        text-decoration: none;
        list-style: none;
        color: #7A7C87;
        font-size: 12px;

        .fa-bell{
            font-size: 25px;
        }
        .fa-angle-down{
            font-size: 15px;
            padding:0px 10px;
        }
    }
    .fa-bars{
        display: none;
    }

main{
    width: 100%;
    grid-area: main;
    padding: 40px;

    .head-section{
        display: flex;
        justify-content: space-between;

        .header{
            h4{
                font-size: 15px;
                color: #34475E;
                font-weight: 500;
            }

            p{
                font-size: 12px;
                color: #737373;
            }

            }

        .create-button{
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            color: #ffff;
            font-size: 12px;
            font-weight: 600;
            background: #FF7A00;
            cursor: pointer;
        
            .fa-plus{
                color: #2F2F2F;
                font-size: 15px;
                padding: 2px;
            }

            a{
                text-decoration: none;
                color: #ffff;
            }

        }
    }

    .middle-section{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 100%;
        gap: 10px;
        margin-top: 40px;
        /* justify-content: space-between; */

        .cardsDiv {
            display: grid;
            gap: 10px;

            color: #ffff;
            grid-template-columns: 1fr 1fr; /* Two columns of equal width */
            grid-template-rows: auto;
            align-content: center;
        }

        .childDiv {
            border-radius: 7px;
            padding: 20px;
            position: relative;
            background-color: aqua;
            color: var(--white);
            
            p{
                font-size: 18px;
                color: #ffff;
                text-align: end;
                position: relative; /* Make sure it can be layered */
                z-index: 2; /* Higher than the images */
            }

            .circle{
                width: 70px;
                height: 70px;
                background: #fff;
                opacity: 0.3;
                border-radius: 50px;
                position: absolute;

            }

            .right-circle{
                border-top-right-radius:7px;
                right: 0;
                top: 0;
            }
            .left-circle{
                border-top-left-radius: 7px;
                bottom: 0;
                left: 0;
                transform: rotate(-90deg);
            }

            .topImg-style{
                position: absolute;
                right: -1.2rem;
                top: -1.2rem;
                border-top-right-radius: 10px;
            }

            .bottomImg-style {
                position: absolute;
                left: -1.2rem;
                bottom: -6.4rem;
                border-bottom-left-radius: 10px;
            }
                
            .finger-pointer{
                display: flex;
                justify-content: space-between;
                align-items: end;
                font-size: 2.3rem;
                margin-top: 1rem;
                position: relative; /* Make sure it can be layered */
                z-index: 2; /* Higher than the images */
                    
                img{
                    width: 2rem;
                }
            }
        }

        #allRequests{
            background-color: #4A8DFF;
            }
                
            #completed{
                background-color: #00B388;
            }
                
            #ongoing{
                background-color: #FDC75B;
            }
                
            #delayed{
                background-color: #E30000;
            }
                
            
        .activity-div{
            border: 1px solid #D4D4D4;
            border-radius: 8px;

            .activity-head{
                display: flex;
                justify-content: space-between;
                padding: 10px 5px;
            
                a{
                    text-decoration: none;
                    color: #34475E;
                }
                .left{
                    color: #34475E;
                }
                .right{
                    color: #D4D4D4;
                    font-size: 15px;
            
                    .fa-chevron-right{
                        font-size: 12px;
                        padding: 5px;
                    }
                }
            }
            .activity-data{
                display: flex;
                padding: 12px ;
                font-size: 12px;
                justify-content: space-between;
                border-top: 1px solid #D4D4D4;
            
                .left{
                    color: #34475E;
                }
                .right{
                        
                    a{
                        text-decoration: none;
                        color: #FF7A00;
                    }
                }
            }

        }
       
    }

    .bottom-section{
        padding-top: 40px;
            
        .table-header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            h4{
                color: #34475E;
            }

            .fa-chevron-right{
                padding-left: 8px;
                font-size: 12px;
            }
        }
            
        table{
            width: 100%;
            border-radius: 10px; 
            border: 1px solid #D4D4D4;

            .table-headers{
                padding: 5px;

                a{
                    text-decoration: none;
                    font-size: 15px;
                    color: #34475E;
                    font-weight: 500;
                }
                .fa-solid{
                    padding: 5px;
                }
            }

            td{
                padding: 5px;
                border-bottom: 1px solid #D4D4D4;
                font-size: 12px;
                padding: 10px;
                font-weight: 600;
                color: #2F2F2F;
        
                .purple{
                    font-size: 6px;
                    color: purple;
                    padding: 5px;
                }
                .blue{
                    font-size: 6px;
                    color: blue;
                    padding: 5px;
                }
                .orange{
                    font-size: 6px;
                    color: orange;
                    padding: 5px;
                }
                .green{
                    font-size: 6px;
                    color: green;
                    padding: 5px;
                }
                .yellow{
                    font-size: 6px;
                    color: yellow;
                    padding: 5px;
                }
                .red{
                    font-size: 6px;
                    color: red;
                    padding: 5px;
                }
            
            .change-me{
                color: #9F9F9F;
            }
            
            .change-me-green{
                background: #ECFDF3;
                color: #027A48;
                font-weight: 600;
                padding: 5px 8px;
                border: none;
                border-radius: 5px;
            }
            .change-me-orange{
                background: #FFDEBF;
                color:#FF7A00;
                font-weight: 600;
                padding: 5px 8px;
                border: none;
                border-radius: 5px;
            }
            .change-me-red{
                background: #FEF3F2;
                color:#B42318;
                font-weight: 600;
                padding: 5px 8px;
                border: none;
                border-radius: 5px;

                .fa-xmark{
                    font-size: 12px;
                }
            }
            .change-me-grey{
                background: #D4D4D4;
                color: #344054;
                font-weight: 600;
                padding: 5px 8px;
                border: none;
                border-radius: 5px;  
                    
                .fa-arrow-turn-left{
                    padding: 2px;
                }
            }
        }            
    }
}

}

@media screen and (max-width:767px) {

    body{
        grid-template-areas: 
        "hh hh hh"
        "main main main"
        "main main main";
    }
    .side-navs{
        display: none;
    }

    .top-nav{
        width: 100%;
        left: 0;

        .fa-bars{
            display: block;
            font-size: 20px;
            top: 2px;
        }
    }
    main{
        padding: 20px;
        
        .middle-section{
            display: block;
            padding-top: 15px;
            width: 100%;
            
            .cardsDiv{
                /* display: block; */
                /* padding: 10px; */
            }

            .activity-div{
                padding-top: 20px;
                margin-top: 20px;
            }
        }


    }
}

@media screen and (min-width:768px) and (max-width:1200px){
    .top-nav{
        width: 75%;
        left: 26%;
    }

    main{
        padding: 30px;

        .middle-section{
            padding-top: 30px;
            display: block;

            .childDiv{
                .topImg-style{
                    right: -1.2rem;
                }
                .bottomImg-style{
                    bottom: -6.0rem;
                }
            }

            .activity-div{
                margin-top: 20px;
            }

        }
    }
}