*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#2f2f2f;
    --font-color:#34475e;
    --secondary-font-color:#c3c4c6;
    --primary-orange:#ff7a00;
    --secondary-orange:#ffdebf;
    --primary-green:#ecfdf3;
    --primary-grey:#f2f4f7;
    --primary-pink:#fef3f2;
    --new-background:#eeeeee;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    color: var(--font-color);
    font-family: "Mulish", sans-serif;
}
.top{
    width: 70%;
    float: right;
    display:flex;
    justify-content: end;
    gap: 1.5em;
    padding: 10px;
    font-size: 12px;
   
}
.A{
    display: flex;
    gap: 1em;
}
.first-column{
    width: 15%;
    height: 100vh;
    padding-top: 130px;
    text-align: center;
    background: var(--background-color);
    justify-content: space-between;

    .calender{
        background: white;
        height: 45px;
        margin: auto;
        padding-top: 8px;
       
    }
}

.second-column{
    border-right: 1px solid var(--secondary-font-color);
    height: 100vh;
    width: 45%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 40px;


    .overview {
        display: flex;
        font-weight: 500;
        font-size: 12px;
        gap: 2em;
    }
    .request{
        display: flex;
        gap: 2em;
        font-weight: 500;
        font-size: 12px;
        color: var(--primary-orange);

    }
}


.B{
    width: 100%;
    display: flex;
    gap: 31em;
    position: absolute;
    bottom: 72%;
    padding-top: 20px;
    padding-left: 20px;
    left: 19.2%;
    border-top: 1px solid var(--secondary-font-color);

    h1{
        font-weight: 600;
        /* top: 55px; */
        padding-left: 10px; 
    }
    p{
        font-size: 15px;
    }
   
}
.child-content{
    display: flex;
    gap: 45em;
    padding: 10px;
    font-size: 12px;
     
    button{
        padding: 12px 25px;
        background: var(--primary-orange);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
         
        p{
        font-weight: 800;
        }

        img{
            padding-right: 5px;
        }
    }
}




.heads{
    display: flex;
    gap:18em;
    width: 80%;
    padding: 5px;
    position: absolute;
    bottom: 60%;
    left: 19.5%;

    .options{
        display: flex;
        gap: 1em;
        padding: 5px;
        border-radius: 7px;
        font-size: 12px;
        background: var(--new-background);
        
        a{
            text-decoration: none;
            color: var(--font-color);
            margin: auto;
            
        }

        .white-background{
            background: white;
            padding: 8px 10px;
            border-radius: 5px;
             
        }
    }
}


.right-side{
    display: flex;
    gap: 1.5em;

    .search{
        border: 1px solid var(--secondary-font-color);
        height: 30px;
        padding: 5px;
        margin: auto;
        border-radius: 5px;


        input{
            border: none;
        }
    }

    .marine{
        height: 30px;
        padding: 5px 15px;
        font-size: 12px;
        margin: auto;
        border-radius: 5px;
        background: var(--new-background);
        border: 1px solid var(--secondary-font-color);
        
        a{
            text-decoration: none;
            color: var(--font-color);
        }
    }

    .sort-by{
        height: 30px;
        font-size: 13px;
        padding: 5px 10px;
        margin: auto;
        border-radius: 5px;
        color: var(--secondary-font-color);
        border: 1px solid var(--secondary-font-color);
        
        select{
            cursor: pointer;
            border: none;
        }
    }
}



table{
    position: relative;
    left: 20%;
    width: 75%;
    bottom: 375px;
    font-size: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--secondary-font-color);
}
td{
    padding:10px ;
    padding-left: 35px;
    border-top: 1px solid var(--secondary-font-color);
}
th{
    padding:10px;
    cursor: pointer;
    color: var(--font-color);
    
    img{
        width: 6px;
    }
}
.orange{
    padding: 5px 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: #ff7a00;
    background: var(--secondary-orange);
}

.green{
    padding:5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: green;
    background: var(--primary-green);
}


@media screen  and (max-width:767px) {
    .top{
        display: block;
        top: 8%;
        left: 86%;
        position: absolute;
        width: 10%;

        a{
            text-decoration: none;
            color: black;
        }
    }
    .A{
        display: flex;
        gap: 1em;
    }
    .first-column{
        display: flex;
        width: 100%;
        height: 45px;
        gap: 20px;
        padding: 10px;
        position: absolute;
       
        .calender{
            height:50px;
            padding: 5px 8px;   
        }
    
    }
    
    .second-column{
        height: 45px;
        width: 100%;
        display: flex;
        font-size: 10px;
        position: absolute;
        padding: 10px;
        top: 7%;
        left: 0px;

        .TRM{
            padding-right: 20px;
            font-size: 15px;
        }
    
        .leadway-logo{
            display: none;
        }
        .overview, .request {
            display: block;
        }
    }
    
    
    .B{
        gap: 0px;
        border: none;
        bottom: 65%; 
        padding-top: 0px;
        padding-left: 0px;
        left: 12px;

    
        h1{
            font-size: 15px;
            /* padding-bottom: 10px;  */
        }
        p{
            font-size: 11px;
            padding-top: 20px;
        }
       
    }
    .child-content{
        display: flex;
        gap: 7px;
        padding: 0px;
        font-size: 2px;
         
        button{
            padding:5px;
           height: 30px;
        }
    }
    
    
    
    
    .heads{
        display: block;
        gap:0;
        width: 100%;
        padding:0px;
        position: absolute;
        bottom: 48%;
        left: 0;
    
        .options{
            gap: 5px;
            padding: 5px;
        }
    }
    
    
    .right-side{
        width: 100%;
        gap: 0px;
    
        .search{
            border: 1px solid var(--secondary-font-color);
            height: 20px;
            padding: 5px;
            padding-bottom: 20px;
            margin-top:15px;
            width: 35%;
            border-radius: 5px;
        
    
    
            input{
                border: none;
                width: 50%;
            
            }
        }
    
        .marine{
            height: 20px;
            padding: 5px ;
            padding-bottom: 20px;
            margin-top:15px;
            font-size: 12px;
        }
    
        .sort-by{
            height: 30px;
            font-size: 12px;
            padding: 5px;
            margin-top:15px;
        }
    }
    
    
    
    table{
        position: absolute;
        bottom: 18%;
        left: 0%;
        width: min-content;
        font-size: 10px;
    }

    td{
        padding: 10px;
        padding-left: 0px;

    }
    th{
        padding:10px;
        img{
            width: 5px;  
        }
    }

    .orange{
        padding:10px;
        font-size: 12px;
    }
    
    .green{
        font-size: 12px;
        padding: 10px;
    }
    
}

@media screen and (min-width:768px) and (max-width:1200px){
    .top{
        gap: 1.5em;
        padding: 20px;
        padding-top: 30px;
        font-size: 15px;
       
    }
    .second-column{
        width: 35%;
    }
    .B{
        bottom: 85%;
        gap: 3em;
        padding-top: 30px;
        left: 19%;
        
        h1{
            font-size: 40px; 
        }
        p{
            font-size: 22px;
        }
       
    }
    .child-content{
       
        button{
            padding: 15px 30px;
            font-size: 15px;

            img{
                padding-right: 7px;
            }
        }
    }
    
    
    
    
    .heads{
        display: flex;
        gap:10px;
        padding: 2px;
        bottom: 75%;
        left: 19.5%;
    
        .options{
            display: flex;
            gap: 10px;
            font-size: 15px;
             }
    
    }

    table{
        position: absolute;
        bottom: 50%;
        left: 17%;
        width: max-content;
        font-size: 14px;
    }

}
    
    
   