*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#2f2f2f;
    --font-color:#34475e;
    --secondary-font-color:#c3c4c6;
    --primary-orange:#ff7a00;
    --secondary-orange:#ffdebf;
    --primary-green:#ecfdf3;
    --primary-grey:#f2f4f7;
    --primary-pink:#fef3f2;
    --new-background:#eeeeee;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    color: var(--font-color);
    font-family: "Mulish", sans-serif;
}
.top{
    width: 70%;
    float: right;
    display:flex;
    justify-content: end;
    gap: 1.5em;
    padding: 10px;
    font-size: 12px;
   
}
.A{
    display: flex;
    gap: 1em;
}
.first-column{
    width: 15%;
    height: 100vh;
    padding-top: 130px;
    text-align: center;
    background: var(--background-color);
    justify-content: space-between;

    .calender{
        background: white;
        height: 45px;
        margin: auto;
        padding-top: 8px;
       
    }
}

.second-column{
    border-right: 1px solid var(--secondary-font-color);
    height: 100vh;
    width: 45%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 40px;


    .overview {
        display: flex;
        font-weight: 500;
        font-size: 12px;
        gap: 2em;
    }
    .request{
        display: flex;
        gap: 2em;
        font-weight: 500;
        font-size: 12px;
        color: var(--primary-orange);

    }
}


.content{
    width: 100%;
    position: absolute;
    bottom: 78%;
    padding-top: 20px;
    padding-left: 20px;
    left: 19.2%;
    display: flex;
    border-top: 1px solid var(--secondary-font-color);

    h1{
        font-weight: 600;
        padding-left: 10px; 
    }
    p{
        font-size: 15px;
    }
   
}
.B {
    gap: 15em;
    padding: 10px;
    font-size: 12px;
  
    .search {
      border: 1px solid var(--secondary-font-color);
      border-radius: 2px;
      height: 30px;
      padding: 5px;
      margin: auto;
  
      input {
        border: none;
      }
    }
  
    img {
      padding-right: 5px;
    }
  }
  
.heads{
    display: flex;
    gap:32em;
    padding: 5px;
    width: 80%;
    position: absolute;
    bottom: 60%;
    left: 19.5%;

    .options{
        display: flex;
        gap: 1em;
        padding: 5px;
        border-radius: 7px;
        font-size: 12px;
        background: var(--new-background);
        
        a{
            text-decoration: none;
            color: var(--font-color);
            margin: auto;
            
        }

        .white-background{
            background: white;
            padding: 8px 10px;
            border-radius: 5px;
             
        }
    }
}


.right-side{
    display: flex;
    gap: 1.5em;

    .marine{
        height: 30px;
        padding: 5px 15px;
        font-size: 12px;
        margin: auto;
        border-radius: 5px;
        background: var(--new-background);
        border: 1px solid var(--secondary-font-color);
        
        a{
            text-decoration: none;
            color: var(--font-color);
        }
    }

    .sort-by{
        height: 30px;
        font-size: 13px;
        padding: 5px 10px;
        margin: auto;
        color: var(--secondary-font-color);
        border: 1px solid var(--secondary-font-color);
        border-radius: 5px;
        
        select{
            cursor: pointer;
            border: none;
        }
    }
}



table{
    position: relative;
    left: 20%;
    width: 75%;
    bottom: 375px;
    font-size: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--secondary-font-color);
}
td{
    padding:10px ;
    padding-left: 35px;
    border-top: 1px solid var(--secondary-font-color);
}
th{
    padding:10px;
    cursor: pointer;
    color: var(--font-color);
    
    img{
        width: 6px;
    }
}
.orange{
    padding: 5px 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: #ff7a00;
    background: var(--secondary-orange);
}

.green{
    padding:5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: green;
    background: var(--primary-green);
}


@media screen and (max-width: 767px) {
    .top {
      display: block;
      top: 8%;
      left: 86%;
      position: absolute;
      width: 10%;
  
      a {
        text-decoration: none;
        color: black;
      }
    }
  
    .first-column {
      display: flex;
      width: 100%;
      height: 45px;
      gap: 20px;
      padding: 10px;
      position: absolute;
  
      .calender {
        height: 50px;
        padding: 5px 8px;
      }
    }
  
    .second-column {
      height: 45px;
      width: 100%;
      display: flex;
      font-size: 10px;
      position: absolute;
      padding: 10px;
      top: 7%;
      left: 0px;
  
      .TRM {
        padding-right: 20px;
        font-size: 15px;
      }
  
      .leadway-logo {
        display: none;
      }
      .overview,
      .request {
        display: block;
        padding: 10px;
      }
    }
  
    .B {
      gap: 0px;
      bottom: 60%;
      padding-top: 0px;
      padding-left: 0px;
      left: 10px;
  
      .content {
        border: none;
        display: flex;
        bottom: 70%;
        padding-top: 20px;
        padding-left: 15px;
        left: 0;
  
        h1 {
          padding-left: 0px;
        }
        p {
          font-size: 15px;
          padding-top: 10px;
        }
      }
  
      .search {
        width: 40%;
        padding: 5px;
        margin: 0px;
        height: 30px;
        display: flex;
        align-items: center;
      }
    }
  
    .heads {
      display: block;
      gap: 0;
      width: 100%;
      padding: 0px;
      position: absolute;
      bottom: 47%;
      left: 0;
  
      .options {
        gap: 5px;
        padding: 5px;
      }
    }
  
    .right-side {
      width: 100%;
      gap: 0px;
  
      .search {
        border: 1px solid var(--secondary-font-color);
        height: 20px;
        padding: 5px;
        padding-bottom: 20px;
        margin-top: 15px;
        width: 35%;
        border-radius: 5px;
  
        input {
          border: none;
          width: 50%;
        }
      }
  
      .marine {
        height: 30px;
        padding:10px 25px;
        padding-bottom: 20px;
        margin-top: 15px;
        font-size: 12px;
      }
  
      .sort-by {
        height: 35px;
        font-size: 12px;
        margin-top: 15px;
      }
    }
  
    table {
      position: absolute;
      bottom: 22%;
      left: 0%;
      width: min-content;
      font-size: 11px;
    }
  
    td {
      padding: 8px;
      padding-left: 0px;
    }
    th {
      padding: 8px;
      img {
        width: 5px;
      }
    }
  
    /* .orange {
      padding: 10px;
      font-size: 12px;
    } */
  
    .green {
      font-size: 12px;
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .top {
      gap: 1.5em;
      padding: 20px;
      padding-top: 30px;
      font-size: 15px;
    }
    .second-column {
      width: 35%;
    }
    .B {
        bottom: 60%;
        padding-top: 0px;
        padding-left: 0px;
        left: 10px;
        
        .content {
        gap: 15em;
        border: none;
        display: flex;
        bottom: 85%;
        padding-top: 20px;
        padding-left: 15px;
        left: 20%;
  
        h1 {
          padding-left: 0px;
        }
        p {
          font-size: 15px;
          padding-top: 10px;
        }
      }
  
      .search {
        width: 30%;
        padding: 5px;
        margin: 0px;
        height: 30px;
        display: flex;
        align-items: center;
        
        input {
          border: none;
          width: 50%;
        }
      }
    }
  
    .heads {
      display: flex;
      gap: 5em;
      padding: 12px;
      bottom: 70%;
      left: 19%;
  
      .options {
        display: flex;
        gap: 10px;
        font-size: 20px;
      }
      .marine {
          height: 50px;
          align-items: center;
          padding-bottom: 20px;
          margin-top: 15px;
          font-size: 20px;
        }
    
        .sort-by {
          height: 50px;
          font-size: 20px;
          margin-top: 15px;
        }
       
      }
    
  
    table {
      position: absolute;
      bottom: 52%;
      left: 17%;
      width: max-content;
      font-size: 17px;
    }
    td {
      padding: 15px;
      padding-left: 0px;
    }
    th {
      padding: 15px;
      img {
        width: 5px;
      }
  }
   .orange {
      padding: 10px;
      font-size: 12px;
    }
  
    .green {
      font-size: 12px;
      padding: 10px;
    }
  }