*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#2f2f2f;
    --font-color:#34475e;
    --secondary-font-color:#c3c4c6;
    --primary-orange:#ff7a00;
    --secondary-orange:#ffdebf;
    --primary-green:#ecfdf3;
    --primary-grey:#f2f4f7;
    --primary-pink:#fef3f2;
    --new-background:#eeeeee;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    color: var(--font-color);
    font-family: "Mulish", sans-serif;
}
.top{
    width: 70%;
    float: right;
    display:flex;
    justify-content: end;
    padding-inline-end: 15px;
    gap: 1.5em;
    font-size: 12px;
    align-items: center;
    padding-top: 15px;

    a{
        font-size: 25px;
    }
   
}
.A{
    display: flex;
    gap: 1em;
}
.first-column{
    width: 15%;
    display: flex;
    flex-flow: column;
    gap: 1em;
    height: 100vh;
    padding-top: 130px;
    text-align: center;
    background: var(--background-color);
    
    a{
        color: var(--primary-orange);
        font-size: 25px;
        
    }

    a:hover{
        background: white;
        /* height: 45px;        */
    }
}

.second-column{
    border-right: 1px solid var(--secondary-font-color);
    height: 100vh;
    width: 45%;
    font-size: 15px;
    font-weight: 600;
    padding-top: 30px;


    .overview {
        display: flex;
        font-weight: 500;
        font-size: 12px;
        gap: 2em;

        a{
            color: var(--secondary-font-color);
            font-size: 25px;
        }
        
    }
    .request{
        color: var(--primary-orange);
        display: flex;
        gap: 2em;
        font-weight: 500;
        font-size: 12px;

        a{
            color: var(--primary-orange);
            font-size: 25px;
        }
    }
}


.B{
    width: 100%;
    position: absolute;
    bottom: 70%;
    padding-top: 135px;
    padding-left: 20px;
    left: 19.2%;
    border-top: 1px solid var(--secondary-font-color);

    h1{
        font-weight: 55 0;
        font-size: 20px;
        padding-left: 10px; 
    }
    p{
        font-size: 12px;
    }
}

.content{
    display: flex;
    gap: 50em;
    margin-top: -8.5%;

    .hamburger{
        display: none;
    }
    h1{
        padding-bottom: 10px;
    }
    a{
        font-size: 20px;
    }

}

.main-contents{
    width: 60%;
    position: absolute;
    padding: 12px;
    bottom: 55px;
    left: 40%;


    .inspections{
        display: flex;
        gap: 20px;
        .left-frame , .right-frame{
            height: 200px;
            width: 200px;
            border: 1px solid var(--secondary-font-color);
            padding: 20px;

            &:hover{
                border: 1px solid var(--primary-orange);
            }
            
            .child-left-frame, .child-right-frame{
                height: 150px;
                width: 150px;
                margin: auto;
                border-radius: 50%;
                border: 1px solid var(--secondary-font-color);
                padding: 20%;
            }
         }

    }
      
        .right-arrow{
            font-size: 50px;
            font-weight: 400;
            color: #7F8B94;
            top: 25%;
            left: 29%;
            position: absolute;
        }

    label{
        bottom: 10px;
    }
    img:hover{
        border: 1px solid var(--primary-orange);
    }

    .property{
        display: flex;
        flex-flow: column;
        gap: 10px;
        font-weight: 700;

        .dropdown{
            width: 50%;
            padding: 11px;
            border-color: var(--secondary-font-color);
        }
    }
   
   
    .create-btn{
       padding: 0px 40px;
       border-radius: 5px; 
       background: #c3c4c6;
       border: none;
       justify-content: center;
       margin-top: 5%;
       height: 35px;
       color: var(--font-color);
       font-weight: 700;
       cursor: pointer;
       margin-left: 15%;

       .fa-duotone{
        font-size: 15px;
        padding-right: 5px;  
        color: #2f2f2f;
       }
    }
}


@media screen and (max-width:767px) {
    .top{
        width: 100%;
        border-bottom: 1px solid var(--secondary-font-color);
    }

    .first-column , .second-column{
        display: none;
    }
    
    
    .B{
        width: 100%;
        bottom: 70%;
        padding-top: 150px;
        padding-left: 0px;
        left: 0;
        border-top: none;
        
    
        h1{
            font-weight: 600;
            font-size: 20px;
        
        }
        p{
            font-size: 15px;
        }
    }
    
    .content{
        display: flex;
        gap: 15%;
        margin-top:-150px;
        padding: 20px;

        img{
            width: 60%;
        }
        .hamburger{
            display: block;
            position: absolute;
            top: -40%;
            padding-left: 5px;
        }
        .close{
            display: flex;
            flex-flow: column;
            padding: 0;

            p{
                display: none;
            }
        }
    
    }
    
    .main-contents{
        width: 100%;
        bottom: 17%; 
        left: 10%;
    
        .inspections{
            display: flex;
            gap: 20px;
            .left-frame , .right-frame{
                height: 150px;
                width: 150px;
                border: 1px solid var(--secondary-font-color);
                padding: 10px;
                font-size: 12px;
    
                &:hover{
                    border: 1px solid var(--primary-orange);
                }
                
                .child-left-frame, .child-right-frame{
                    height: 100px;
                    width: 100px;
                    margin: auto;
                    border-radius: 50%;
                    border: 1px solid var(--secondary-font-color);
                    padding: 10%;

                    img{
                        border: none;
                    }
                }
             }
        }
        .right-arrow{
            font-size: 45px;
            font-weight: 300;
            color: #7F8B94;
            top: 22%;
            left: 45%;
            position: absolute;
        }
        
        label{
            bottom: 10px;
        }
        
        .property{
            display: flex;
            flex-flow: column;
            gap: 10px;
            left: 0;
            font-weight: 700;
    
            .dropdown{
                width: 80%;
                padding: 11px;
                border-color: var(--secondary-font-color);
            }
        }
       
       
        .create-btn{
           padding: 0px 40px;
           border-radius: 5px; 
           background: #c3c4c6;
           border: none;
           justify-content: center;
           margin-top: 10%;
           height: 35px;
           color: var(--font-color);
           font-weight: 700;
           cursor: pointer;
           margin-left: 15%;
    
           .fa-duotone{
            font-size: 15px;
            padding-right: 5px;  
            color: #2f2f2f;
           }
        }
    }
    
}
@media screen and (min-width:768px) and (max-width:1100px){
    .A{
        display: flex;
        gap: 1em;
    }
    .first-column{
        padding-top: 150px;
        width: 20%;

    }
    
    .second-column{
        width: 50%;
        font-weight: 600;
        padding-top: 80px;

        .logo{
            display: block;
        }
        .leadway-logo{
            width: 80%;

        }
        p{
            font-size: 22px;
        }
        .overview {
            display: block;
            font-weight: 500;
            font-size: 18px;
            
           
        }
        .request{
            display: block;
            font-weight: 500;
            font-size: 18px;
            color: var(--primary-orange);
          
    
        }
    }
    
    
    .B{
        width: 100%;
        bottom: 84%;
        padding-top: -160px;
        padding-left: 10px;
        left: 23%;
        
    
        h1{
            font-weight: 500;
            font-size: 25px;
            padding-top: 10px;

        
        }
        p{
            font-size: 20px;
            padding-top: 10px;
        }
    }
    
    .content{
        display: flex;
        gap: 18em;
        margin-top:-120px;

        img{
            width: 80%;
        }
    
    }
    
    .main-contents{
        width: 80%;
        bottom: 25%; 
        left: 30%;
        border-top: none;
    
        /* .inspections img {
            width: 40%;
            } */
             .left-frame , .right-frame{
                height: 200px;
                width: 200px;
                border: 1px solid;
                display: flex;
             }

            label{
                font-size: 20px;
            }
            .right-arrow{
                left: 51%;
                font-size: 65px;
            }
       
        
    
        .property{
            border:none;
            display: flex;
            gap: 80%;
            padding: 20px ;
            width: 78%;
            font-size: 19px;
            top: 20px;

            label

            .dropdown{
                width: 100%;
                padding: 15px;
                border-color: var(--secondary-font-color);
            }
        }

        
        .create-btn{
           padding: 0px 40px;
           margin-top: 4%;
           height: 45px;
           margin-left: 16%;
           font-size: 25px;


           img{
            padding-right: 25px;
            width: 18%;
           }
        }
    }
    
    
}