*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --orange:#FF7A00;
    --black-background:#2F2F2F;
    ---green:#00B388;
    ---red:#EE5331;
    ---grey:#D4D4D4;
    ---grey-border:#737373;
    ---font-color-1:#34475E;
    ---font-color-2:#7A7C87;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "as hh hh"
    "as main main"
    "as main main";
    grid-template-columns: 235px 1fr 1fr;
    grid-template-rows: 8% 22% 70%;
    font-family: "Mulish", sans-serif;
}

.side-navs{
    display: flex;
    grid-area: as;
}

.content-heading{
    grid-area: main;
    display: flex;
    justify-content: space-between;
}

main{
    width: 100%;
    height: fit-content;
    grid-area: main;
    /* padding: 30px; */
}