* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --orange: #ff7a00;
  --black-background: #2f2f2f;
  ---green: #00b388;
  ---red: #ee5331;
  ---grey: #d4d4d4;
  ---grey-border: #737373;
  ---font-color-1: #34475e;
  ---font-color-2: #7a7c87;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
  grid-template-areas:
    "As hh hh"
    "As main main"
    "As main main";
  grid-template-columns: 235px 1fr 1fr;
  grid-template-rows: 8% 22% 70%;
}

.side-navs {
  grid-area: As;
  display: flex;
}

.first-column {
  background: #2f2f2f;
  height: 100vh;
  padding-top: 120px;
  position: fixed;
  width: 50px;

  li {
    list-style: none;
  }

  a {
    display: flex;
    text-decoration: none;
    color: #ff7a00;
    font-size: 25px;
    padding: 15px 10px;
  }
  a:hover {
    background: #ffff;
    transition: 0.7s;
  }
}

.second-column {
  left: 50px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
  padding-top: 40px;
  border-right: 1px solid #d4d4d4;
  background: #ffff;
  position: fixed;

  p {
    color: #34475e;
    font-weight: 700;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
    color: #737373;
    padding: 5px;
    font-size: 12px;
    &:hover {
      color: #ff7a00;
    }
  }

  .fa-chart-simple {
    font-size: 20px;
    padding: 8px;
    color: #737373;
    &:hover {
      color: #ff7a00;
    }
  }
  .fa-table {
    font-size: 20px;
    padding: 8px;
  }
  .requests {
    color: #ff7a00;
  }
}
.top-nav {
  grid-area: hh;
  padding: 10px;
  position: fixed;
  z-index: 10;
  width: 83.5%;
  left: 17.6%;
  background: #ffff;
  border-bottom: 1px solid #d4d4d4;
}
.nav-links-2 {
  display: flex;
  gap: 20px;
  justify-content: end;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #7a7c87;
  font-size: 12px;

  .fa-bell {
    font-size: 25px;
  }
  .fa-angle-down {
    font-size: 15px;
    padding: 0px 10px;
  }
}
.fa-bars,
.fa-xmark {
  display: none;
}

main {
  width: 100%;
  grid-area: main;
  padding: 40px;

  .body-content-heading {
    h3 {
      font-size: 17px;
      color: #737373;
      font-weight: 600;
    }
    p {
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #7a7c87;
    }
  }

  .body-content {
    display: flex;
    justify-content: space-between;
  }

  .line {
    border: 1px solid #d4d4d4;
    height: 350px;
    margin-top: 30px;
  }

  .profile-section {
    border: 1px solid #d4d4d4;
    padding: 20px;
    font-size: 12px;

    .profile-image {
      p {
        font-size: 17px;
        font-weight: 700;
        color: #737373;
        padding-bottom: 10px;
      }
    }
    .status {
      font-size: 13px;
      font-weight: 700;
      color: #00b388;
      padding-bottom: 10px;

      .orange {
        color: #ff7a00;
      }
    }

    .profile-section-contents {
      display: flex;
      flex-flow: column;

      .small-texts {
        font-size: 10px;
        font-weight: 600;
        color: #737373;
        padding: 3px;
      }
      .big-texts {
        font-weight: 500;
        color: #7a7c87;
        padding: 3px;
      }
    }
  }
  .slides-contents {
    display: flex;
    flex-flow: column;
    font-weight: 700;
    color: #737373;
    font-size: 18px;

    h6 {
      margin-top: 25px;
    }

    .top-slide {
      display: flex;
      margin-top: 3%;
      margin-left: 7%;
      border: 1px solid;
      border-radius: 6px;
      justify-content: space-between;
      font-family: "Mulish", sans-serif;
      border: 1px solid #d4d4d4 !important;
      border-left: 16px solid #ff7a00 !important;

      .top-slide-child {
        display: flex;
        flex-flow: column;
        padding: 10px;
        justify-content: space-between;
      }
      .file-icon {
        font-size: 35px;
        color: #ff7a00;
        cursor: pointer;
      }
      .fa-circle {
        font-size: 20px;
        color: #ee5331;
      }
    }

    .top-slide-second-child {
      font-size: 12px;
      color: #34475e;
      font-weight: 500;
      padding: 6px;

      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #34475e;
        padding-top: 5px;
      }
      p {
        font-size: 10px;
        font-weight: 600;
        color: #ff7a00;
        padding-top: 5px;
      }
    }

    .top-slide-third-child {
      margin: auto;
      .orange-button {
        border: none;
        color: #ffff;
        font-size: 10px;
        cursor: pointer;
        font-weight: 500;
        padding: 8px 20px;
        border-radius: 5px;
        background: #ff7a00;
        letter-spacing: 0.5px;
      }
    }

    .bottom-slide {
      display: flex;
      margin-top: 3%;
      border-radius: 6px;
      border: 1px solid #d4d4d4;
      justify-content: space-between;
      border-left: 15px solid#737373;
      font-family: "Mulish", sans-serif;

      .bottom-slide-child {
        display: flex;
        flex-flow: column;
        gap: 20px;
        padding-left: 15px;
      }
      .file-icon {
        font-size: 35px;
        color: #ff7a00;
        cursor: pointer;
      }
      .fa-circle {
        font-size: 20px;
        color: #00b388;
      }
    }

    .bottom-slide-second-child {
      padding: 6px;
      font-size: 12px;
      font-weight: 500;
      color: #34475e;

      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #34475e;
        padding-top: 5px;
      }
      p {
        font-size: 10px;
        font-weight: 600;
        color: #ff7a00;
        padding-top: 5px;
      }
    }

    .bottom-slide-third-child {
      margin: auto;
      .grey-button {
        border: none;
        cursor: pointer;
        color: #34475e;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 15px;
        border-radius: 5px;
        background: #d4d4d4;
        letter-spacing: 0.5px;
      }
    }

    .circle-1 {
      position: absolute;
      font-size: 12px;
      left: 49.5%;
      color: #ff7a00;
    }
    .circle-2 {
      position: absolute;
      font-size: 12px;
      left: 49.5%;
      top: 50%;
      color: #ff7a00;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    grid-template-areas:
      "hh hh hh"
      "main main main"
      "main main main";
  }
  .side-navs {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 10;
  }
  
  .top-nav {
    width: 100%;
    left: 0;

    .fa-bars {
      display: block;
      font-size: 25px;
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 20;
    }

    .fa-xmark {
      font-size: 25px;
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 20;
    }
  }

  main {
    padding: 20px;
    padding-bottom: 20px;

    .body-content-heading {
      padding-bottom: 15px;
    }

    .body-content {
      display: block;
    }

    .slides-contents {
      display: block;

      .circle-1,
      .circle-2 {
        display: none;
      }

      .top-slide {
        .top-slide-second-child {
          font-size: 10px;

          h3 {
            font-size: 16px;
            padding-top: 0;
          }
          p {
            padding-top: 0;
            padding-bottom: 10px;
            font-size: 10px;
          }
        }
        .top-slide-third-child {
          .orange-button {
            padding: 2px 5px;
            font-size: 12px;
          }
        }
      }

      .bottom-slide {
        .bottom-slide-second-child {
          font-size: 10px;

          h3 {
            font-size: 10px;
          }
          p {
            padding-bottom: 20px;
            font-size: 8px;
          }
        }
        .bottom-slide-third-child {
          .grey-button {
            font-size: 12px;
          }
        }
      }
    }
    .line {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .top-nav {
    left: 25%;
    width: 75%;
  }
  
main{
    padding: 40px;
    
    .body-content-heading {
        margin-bottom: 20px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 20px;
        }
    }

  .body-content {
    display: block;

    .profile-image {
      img {
        width: 50%;
      }
      p {
        font-size: 25px;
      }
    }

    .profile-section {
      padding: 15px;

      .small-texts {
        font-size: 18px;
      }
      .big-texts,
      .status {
        font-size: 25px;
      }
    }

    .slides-contents {
      width: 100%;
      padding: 10px;
      font-size: 20px;

      .file-icon {
        font-size: 50px;
      }
      .fa-circle {
        font-size: 30px;
      }

      .circle-1,
      .circle-2 {
        display: none;
      }

      .top-slide-second-child,
      .bottom-slide-second-child {
        font-size: 20px;

        h3 {
          font-size: 20px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .line {
    display: none;
  }
}
}